body{
    font-family:'Roboto',sans-serif;   
    background-color: rgb(234, 227, 227);    
}
body p,h2{
    margin:0;
}
body p{
    font-size:20px;
} 

#prezentare1{
    height: 31.25rem;
    background-image: url('../images1/persoana2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

#prezentare1-content{
    width: 43.75rem;
    text-align:center;
    padding: 2.5rem 0;
    margin: 0 auto;
    position:relative;
    top: 6.25rem;
}

#prezentare1-content h1{
    color:white;
    font-size: 2.5rem;
    padding:2.5rem;
    margin:0;

}

#prezentare1-content p{
    color:white;
    font-size:1.25rem;
    font-weight: normal;
} 
#prezentare1-content > a:first-of-type{

    background-color:#0070ba ;
    padding: 0.875rem 1.563rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    color:white;
    padding: 0.5rem 6.25rem;
    font-size:1.5rem;
    box-shadow: none;
} 

#prezentare1-content a{
    color:white;
    text-decoration: none;
    transition: width 2s, height 4s;
} 
#prezentare1-content a:hover{
   text-decoration: underline;
   width: 200px;
   height: 35px;
   
}
li {
    margin:0.938rem 0;
    padding-left: 0.625rem;
    border-left: 5px solid transparent;

}
#busfree{
    font-size:1.25rem;
    text-align:center;
    background-color: #f5f7fa;
    margin:0;
}

#busfree a:link, a:visited {
        background-color: transparent;
        padding: 0.875rem 1.563rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 25px;
        color: #0070ba;
        border: 1px solid #0070ba;
        box-shadow: none;
        font-size: .75rem;
        line-height: 0.625rem;
        margin: 1.25rem;
}
      
#busfree a:active{
    text-decoration:underline;

}
#everyone{
    background-color: white;
    text-align:center;
    margin: 0;
    height:31.25rem;
    position:relative;
    width:100%;
    justify-content:space-between;
}

#everyone h2{
    padding:2rem;
    font-weight: normal;
    font-size: 3em; 
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;

}
#everyone h2:hover { font-size: 2em; color: black; }

    @media screen and (max-width: 1000px){
    h2 { 
        font-size: 2em;
        color: black;
    }
    }

#persoanes{
    display:flex;
    width:90%;
    margin:auto;
    margin-bottom:2.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.persoane {
    margin:0 1.25rem;
    height: 18.75rem;
    width: 25rem;
    transition: all 150ms ease-in-out;
   
}
.persoane img{
    height: 6.25rem;

   
}


.persoane p{
    padding: 1.25rem;
    width:23.75rem;
}
.persoane p:hover {
	top: -3px;
	right: -3px;
 
}
.persoane p:active {
	top: 2px;
	right: 2px;
	box-shadow: inset 0 0 10px rgba(82, 82, 82, 0.85);
}

.Learn a{
    font-size:1.25rem;
    text-align:center;
    background-color: #f5f7fa;
    margin:0;

}
.Learn a:link, a:visited {
    background-color: transparent;
    padding: 0.875rem 1.563rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    color: #0070ba;
    border: 1px solid #0070ba;
    box-shadow: none;
    font-size: .95rem;
    line-height: .625rem;
    margin: 1.25rem;
    width: 16.875rem;
}
  
.Learn a:active{
    text-decoration:underline;

}


#MakeAccount{
    background-color: #f5f7fa;
    text-align:center;
    margin: 0;
    height:31.25rem;
    position:relative;
    width:100%;
    justify-content:space-between;
}
#MakeAccount h2{
    padding:1.875rem;
    font-weight: normal;
}

#Pasi{
    display:flex;
    width:90%;
    margin:auto;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
   
}


.pas{
    margin:0 1.25rem;
    height: 18.75rem;
    width: 25rem;
    transition:transform 0.5s ease-out;
}
.pas:hover{
    transform: scale(1.05);
 
}


.pas img{
    height:12.5rem;
   
}
.pas p{

    padding:1.25rem;
}


#Details{
    display:flex;
    width:100%;
    margin:auto;
    margin-bottom:0px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #0070ba;
    position: relative;
    animation:fundal 5s ease infinite;
}


@keyframes fundal {
    0% {
        background-color: #318CE7;
    }
    50%{
        background-color: #0066b2;
    }
    100%{
        background-color: #034694;
    }
}
.detaliu{
    margin:0 1.25rem;
    width:18.75rem;
    height:18.75rem;
    color:white;
    padding:2.5rem;
}
.detaliu p{
    line-height: 1.563rem;
    height:3.125rem;
    width:21.875rem;
}
.detaliu a{
    color:white;
}
#Start{
    background-color: #f5f7fa;
    text-align:center;
    margin: 0;
    height:18.75rem;
    position:relative;
    width:100%;
}
#Start h1{
    margin:0;
    padding:2.5rem;
}

#Start a{
    background-color:#0070ba ;
    padding: 0.875rem 1.563rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.563rem;
    color:white;
    padding: .5rem 6.25rem;
    font-size: 1.5rem;
    box-shadow: none;
}
@media(max-width:24rem){
    #prezentare1{
        height: 20rem;
    
    }
    
    #prezentare1-content{
        width: 35rem;
        padding: 0.5rem 0;
        top: 1rem;
    }
    
    #prezentare1-content h1{
        font-size: 1.5rem;
        padding:2.5rem 0 2rem 0.5rem;
        margin:0;
        width:21.875rem;
    
    }
    
    #prezentare1-content p{
        font-size:1.25rem;
        font-weight: normal;
        margin-right: 12rem
    } 
    #prezentare1-content > a:first-of-type{
        padding: 0.7rem;
        font-size:1rem;
        margin-right:12.5rem;
        margin-bottom: 0.94rem;

    } 
      
   
    #busfree{
        font-size:1.25rem;
        margin:0;
    }
    #busfree p{
        padding:1.25rem;
    }
    
    #everyone{
        margin: 0;
        height:70rem;
        
    }
   
    #persoanes{
        display:flex;
        flex-direction: column;
    }
    .persoane {
        margin:0 1.25rem;
        height: 18.75rem;
        width: 25rem;
    }
    .persoane img{
        height: 4.5rem;
       
    }
    .persoane p{
        padding: 1.25rem;
    }
       
    #MakeAccount{
        height:70rem;
    }
    
    #Pasi{
        flex-direction: column;
    }
    
    .pas img{
        height:13rem;
       
    }
    .pas p{
        padding:1.5rem;
    }
    
    
    #Details{
        flex-direction: column;
        height:50rem;
    }
    
    
    .detaliu p{
        height:3rem;
        width:20rem;
    }

    .detaliu{
        padding:0px;
        margin:0;
        width:18.75rem;
        height:15.625rem;
    }
   
}





